#amarillo{
    border-top-left-radius:  50%;
    background-color: yellow;
}

#azul {
    border-top-right-radius:  50%;
    background-color: blue;
}

#rojo{
    border-bottom-left-radius:  50%;
    background-color: red;
}

#verde{
    border-bottom-right-radius:  50%;
    background-color: green;

}

.cuadro {
    opacity: 0.5;
    transition: opacity 500ms;
    height:220px;
    width: 220px;
    cursor: pointer;
}

.oculto {
    display: none;
}

